<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="devops.zdv.uni-mainz.de" value="https://devops.zdv.uni-mainz.de/ZDV-Softwareentwicklung/ZDV-Dev/_packaging/ZDV-Dev-NuGet/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="devops.zdv.uni-mainz.de">
      <package pattern="ZDV.*" />
    </packageSource>
    <!-- DevOps tooling seems to have a bug (https://github.com/NuGet/Home/issues/11406) -->
    <packageSource key="feed-devops.zdv.uni-mainz.de">
      <package pattern="ZDV.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>